.App {
  margin: 0%;
  padding: 0%;
}
h1{
  font-size: 3em;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav button{
  padding: 0.5em 1.2em;
  font-size: 0.9em;
  height: 50%;
  border-radius: 15% 20%;
}
.main{
  width: 70%;
}
.main div{
  margin-bottom: 3%;
}
.ques{
  padding: 1%;
  background-color: antiquewhite;
}
.ans{
  padding: 1%;
  height: 45%;
  display: flex;
  background-color: rgb(135, 207, 209);
  margin-left: 2%;
}
.button{
  width: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.button button{
  /* font-size: larger; */
}
.comments{
  padding: 1%;
  background-color: rgb(211, 206, 206);
  margin-left: 7%;
}
.main{
  display: block;
}
header{
  display: flex;
  justify-content: space-around;
}
header aside{
  text-align: center;
  border: 2px solid black;
  width: 15%;
  margin-top: 5%;
  padding: 1%;
}